<h1> Edit New Movie</h1>
<%= @movie %>
<form action="<%= movies_path %>" method="post">
<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>

<label> Title </label>
<input type="text" name= "movie[title]" value="<%= @movie["title"]%>"/>

<label> Rating</label>
<input type="number" name= "movie[rating]" min="1" max="10" value="<%=@movie["rating"]%>"/>
<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
<input type="submit" value="Create"/>
</form> 
<div>